<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/boardstyle.css}">
    <title>게시글 리스트 페이지</title>
</head>

<body>
<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3>광고 & 홍보 게시판</h3>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${list}">
                    <td th:text="${board.id}"></td>
                    <td><a th:text="${board.title}" th:href="@{/board/view/{id}(id=${board.id})}"></a></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="board-bottom">
                <!-- board paging area -->
                <div class = "paging">
                    <th:block  th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
                        <a class="select" th:if="${page == nowPage}" th:text="${page}"></a>
                    </th:block>
                </div>
                <!-- board search area -->
                <form th:action="@{/board/list}" method="get">
                    <div class="search-wrap">
                        <label for="search" class="blind">게시글 내용 검색</label>
                        <input id="search" type="search" name="searchKeyword" placeholder="검색어를 입력해주세요." value="">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>